[Unit]
Description=Proteus Test Daemon
After=multi-user.target
Wants=network-online.target

[Service]
Type=idle
User=
ExecStart=/usr/local/bin/proteus-test-daemon/proteus.sh

[Install]
WantedBy=multi-user.target
